<nav class="navbar navbar-expand-lg navbar-light ">

  {{!-- =========================================================================
                                  IMAGE (LOGO)
      ========================================================================= --}}

  <a href="/ressources/images/logo.png" class="nav-logo">
    <img src="/ressources/images/logo.png" alt="logo" class="logo">
  </a>

  {{!-- /IMAGE (LOGO) --}}

  {{!-- =========================================================================
                                  TITRE
      ========================================================================= --}}

  {{!-- <a class="navbar-brand" href="">AMS-MANU</a> --}}

  {{!-- /TITRE --}}

  {{!-- =========================================================================
                            RESPONSIVE DROPDOWN
      ========================================================================= --}}

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

    {{!-- /RESPONSIVE DROPDOWN --}}

    {{!-- =========================================================================
                                  ITEMS
      ========================================================================= --}}

    <ul class="nav navbar-nav navbar-center">
      <li class="left-link"><a class="nav-item nav-link" href="/">Accueil</a></li>
      <li><a class="nav-item nav-link" href="/prestations">Prestations</a></li>
      <li><a class="nav-item nav-link" href="/garage">Garage</a></li>
      <li><a class="nav-item nav-link" href="/contact">Contact</a></li>
      {{#if admin}}
      <li><a class="nav-item nav-link" href="/admin/logout">Déconnexion</a></li>
      <li><a class="nav-item nav-link" href="/admin-pannel">Administration</a></li>
      {{/if}}
    </ul>


    {{!-- /ITEMS --}}
  </div>
</nav>