<section class="devis" id="devis">
<h1>Choisissez votre devis</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <figure class="snip1551">
                    <img src="/ressources/images/occasion.png" alt="sample69"/>
                    <figcaption>
                        <h3>Rachat d'occasions</h3>
                    </figcaption>
                    <a href="/devis-ventes"></a>
                </figure>
            </div>
            <div class="col-md-6">
                <figure class="snip1551">
                    <img src="https://cdn.pixabay.com/photo/2017/01/05/10/38/auto-repair-1954636_960_720.jpg" alt="sample69" />
                    <figcaption>
                        <h3>Réparation / Entretiens</h3>
                    </figcaption>
                    <a href="/devis-reparations"></a>
                </figure>
            </div>
        </div>
    </div>
</section>