<section class="error" style="text-align:center">
    <div class="container">
        <h1 class="title is-1" style="color:violet">Page Introuvable</h1>
<p class="subtitle is-2" style="color:rgb(158, 0, 158)">allez sur la page d'<a href="/">accueil</a></p>
<img src="https://cdn.pixabay.com/photo/2017/03/09/12/31/error-2129569_960_720.jpg" alt="Image">
    </div>
</section>
