<section class="login-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter email">
                    </div>
                    <div class="row">

                        <div class="col-md-5">
                        </div>
                        <div class="col-md-4">
                            <a href="/admin-pannel">
                                <button type="submit" class="btn btn-primary" href="/admin-pannel" style="margin-left:-10px;">Envoyer</button>
                            </a>
                        </div>
                        <div class="col-md-5">
                        </div>

                    </div>
                </form>
                <div class="row">
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-2">
                        <a href="/admin">
                            <button type="cancel" class="btn btn-primary" style="margin-left: 8.5px;">Annuler</button>
                        </a>
                    </div>
                    <div class="col-md-5">
                    </div>

                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
    </div>
</section>