<section id="accueil" class="accueil">
    <div class="container ">
        <div class="accueil-text">
            <div class="row">
                <div class="col-md-12">
                    <h1>AMS MANU</h1>
                </div>
            </div>
            <div class="row presentation">
                <div class="col-md-12">
                    <p name="presentation" class="presentation">L' entreprise a été créée en septembre 2018.<br>

                        ​Mr FAIVRE Emmanuel, le chef d'entreprise, avec ses 20 années d'expériences dans le métier de
                        l'automobile,
                        met ses compétences et son savoir faire à votre service.<br>

                        ​Mme FAIVRE Natacha, conjointe collaboratrice, se charge de toute la partie administrative,
                        commerciale et
                        comptable de l'entreprise.</p>
                </div>
            </div>
        </div>
</section>