<section class="section">

    <div class="container page-title">
        <h1>Ajouter un véhicule</h1>
    </div>
    <div class="container is-fullhd">
        <form action="/articles/post" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="com-md-12">
                    <div class="field">
                        <label class="label">Titre</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Text input" name="title">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="field">
                        <label class="label">Marque</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Text input" name="title">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="field">
                        <label class="label">Modèle</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Text input" name="title">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="field">
                        <label class="label">Année</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Text input" name="title">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="field">
                        <label class="label">Energie</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Text input" name="title">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="field">
                        <label class="label">Kilometrage</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Text input" name="author">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="field">
                        <label class="label">Boite de vitesse</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Text input" name="title">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="field">
                        <label class="label">Prix</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Text input" name="title">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="field">
                        <label class="label">Description</label>
                        <div class="control">
                            <textarea class="input" type="text" placeholder="Text input" name="title"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Ajouter les photos</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1" multiple>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
            <div class="field is-grouped">
                <div class="control">
                    <button type="submit" class="button is-link">Envoyer</button>
                </div>
                </div>
            </div>
        </form>
        <form action="/admin-pannel" method="GET">
            <div class="col-md-6">
                <div class="control">
                    <button type="cancel" class="button is-text">Annuler</button>
                </div>
            </div>

        </form>
    </div>
</section>