<section class="devis-vente" id="devis-vente">
  <div class="container"></div>
  <div class="row">
    <div class="col-md-12">
      <h1>Devis pour vendre votre véhicule</h1>
      <form>
        <div class="container">
          <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6">
                  <label for="name">Nom</label>
                  <input type="text" id="name" style="width:100%;">
                </div>
                <div class="col-md-6">
                  <label for="name">Prénom</label>
                  <input type="text" style="width:100%;" id="surname">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label for="email">email</label>
                  <input type="email" style="width:100%;" id="email">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="marque">Marque</label>
                  <input type="text" style="width:100%;" id="marque">
                </div>
                <div class="col-md-6">
                  <label for="model">Modèle</label>
                  <input type="text" style="width:100%;" id="model">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="year">Année</label>
                  <input type="text" style="width:100%;" id="year">
                </div>
                <div class="col-md-6">
                  <label for="energy">Energie</label>
                  <input type="text" style="width:100%;" id="energy">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="kilometers">Kilometrage</label>
                  <input type="text" style="width:100%;" id="kilometers">
                </div>
                <div class="col-md-6">
                  <label for="gearbox">Boite de vitesse</label>
                  <input type="text" style="width:100%;" id="gearbox">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label for="message">Message</label>
                  <textarea type="text" style="width:100%;" id="message">
                  </textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="exampleFormControlFile1">Carte grise</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                      </div>

                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="exampleFormControlFile1">Photos (Optionelles)</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1" multiple>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <label for="rdv">RDV souhaité</label>
                      </div>
                      <div class="row">
                        <input type="date" name="date"> à <input type="time" name="time">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <iframe
                      src="https://calendar.google.com/calendar/b/1/embed?height=400&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FParis&amp;src=MHFpMHVkNGZyaGpxMjk0MGU0bmM2YTlndWNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23A79B8E&amp;showTabs=0&amp;showPrint=0&amp;showDate=0&amp;showNav=1&amp;showTitle=0&amp;showCalendars=0&amp;showTz=0&amp;mode=WEEK"
                      style="border-width:0" width="400" height="400" frameborder="0" scrolling="no"></iframe>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <button type="submit">Envoyer</button>
                </div>
                <div class="col-md-6">
                  <button type="cancel">Annuler</button>
                </div>
              </div>
            </div>
            <div class="col-md-2">
            </div>
          </div>


      </form>
    </div>
  </div>
</section>